body {
  text-align: center;
  font-size: 20px;
}

.default {
  cursor: default;
}

.cursor {
  cursor: pointer;
}

.auto {
  cursor: auto;
}

.move {
  cursor: move;
}

.text {
  cursor: text;
}

.crosshair {
  cursor: crosshair;
}

.cell {
  cursor: cell;
}

.help {
  cursor: help;
}

.grab {
  cursor: grab;
}

.grabbing {
  cursor: grabbing;
}

.zoom-in {
  cursor: zoom-in;
}

.zoom-out {
  cursor: zoom-out;
}

.not-allowed {
  cursor: not-allowed;
}

.wait {
  cursor: wait;
}

.progress {
  cursor: progress;
}

.none {
  cursor: none;
}

.alias {
  cursor: alias;
}

.context-menu {
  cursor: context-menu;
}

.vertical-text {
  cursor: vertical-text;
}

.copy {
  cursor: copy;
}

.no-drop {
  cursor: no-drop;
}
