.accordion-area {
    list-style: none;
    width: 96%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
}

.accordion-area li {
    margin: 10px 0;
}

.title {
    position: relative;
    cursor: pointer;
    font-size: 1rem;
    font-weight: normal;
    transition: all .5s ease;
}

.title::before, .title::after {
    position: absolute;
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
}

.title::before {
    top: 48%;
    left: 15px;
    transform: rotate(0deg);
}

.title::after {
    top: 48%;
    left: 15px;
    transform: rotate(90deg);
}

.title.close::before {
    transform: rotate(45deg);
}

.title.close::after {
    transform: rotate(-45deg);
}

.box {
    display: none;
    /* background: #f3f3f3; */
    margin: 0 3% 3% 3%;
    padding: 3%;
    width: 330px;
    margin-left: 260px;
}

.all-font {
    width: 382px;
    margin-left: -25px;
}
