#change {
  width: 280px;
  height: 188px;
  overflow: hidden;
  margin: 10px 8px 10px 16px;
  position: relative;
}
#change #caption {
  font-size: 130%;
  color: #fff;
  padding-top: 80px;
  padding-left: 20px;
}
#change #mask {
  width: 50%; /* 画像の半分の大きさにする */
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  margin-left: -50%; /* 枠の左に置いて表示させない */
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#change:hover #mask {
  margin-left: 0px; /* 右にずらして表示する */
}
#change img {
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}
#change:hover img {
  margin-left: 50%; /* 画像を半分サイズ、右にずらす */
}
#jquery-text {
  color: white;
}
#change2 {
  width: 280px;
  height: 188px;
  overflow: hidden;
  margin: 10px 8px 10px 16px;
  position: relative;
}
#change2 #caption2 {
  font-size: 130%;
  text-align: center;
  color: #fff;
}
#change2 #mask2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0; /* マスクを表示しない */
  background-color: rgba(0,0,0,0.4);
  -webkit-transition: all 0.6s ease;
  transition:all 0.6s ease;
}
#change2:hover #mask2 {
  opacity: 1; /* マスクを表示する */
  padding-top: 80px; /* ホバーで下にずらす */
}
