@charset "UTF-8";
.menu {
  padding: 90px 0 60px;
}

.menu-card {
  width: 50%;
  margin-top: 35px;
}

.menu-card-inner {
  padding: 40px 30px;
  border-radius: 7px;
  text-align: center;
}

.menu-image {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 8px 8px #ccc;
  cursor: pointer;
}

.menu-title {
  margin-bottom: 8px;
}

.menu-text {
  font-size: 14px;
}

.menu-card-wrapper {
  display: flex;
  flex-wrap: wrap;
}

.sakuhin {
  text-align: center;
  font-size: 30px;
}

.btn {
  text-decoration: none;
  color: blue;
  cursor: pointer;
}

.scratch-link {
  text-align: center;
}

#scratch-link {
  color: blue;
  cursor: pointer;
}

#scratch-link:hover {
  transition: 0.6s;
  opacity: 0.6;
}
