@charset "UTF-8";
@media (max-width: 1024px) {
  .main-visual {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .top-title {
    font-size: 26px;
  }
  .menu-card {
    width: 50%;
  }
  .bird img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 670px) {
  .all-font {
    width: 400px;
    margin: -100px 0 0 0;
  }
  .box {
    margin-left: -20px;
  }
  .header-right {
    float: none;
    text-align: center;
  }
  .header-right a {
    font-size: 14px;
  }
  .main {
    padding: 60px 0;
  }
  .main-image {
    width: 280px;
  }
  .main p {
    font-size: 13px;
  }
  .footer-right {
    padding-top: 20px;
  }
  .menu-card {
    width: 100%;
  }
  .google-map iframe {
    width: 100%;
  }
  .contact input, .contact textarea {
    width: 100%;
  }
  .button_text {
    font-size: 30px;
  }
  .copy {
    margin-left: 25px !important;
  }
  .big {
    width: 300px !important;
    height: auto;
  }
  .menu-image {
    margin-left: -10px;
  }
}
