@charset "UTF-8";
@media (max-width: 1024px) {
  .main-visual {
    padding-top: 30px;
    padding-bottom: 80px;
  }
  .top-title {
    font-size: 26px;
  }
  .menu-card {
    width: 50%;
  }
  .bird img {
    width: 25px;
    height: 25px;
  }
}

@media (max-width: 670px) {
  .header-right {
    float: none;
    text-align: center;
  }
  .header-right a {
    font-size: 14px;
  }
  .main {
    padding: 60px 0;
  }
  .main-image {
    width: 280px;
    margin-left: 0 !important;
  }
  .main p {
    font-size: 13px;
  }
  .footer-right {
    padding-top: 20px;
  }
  .menu-card {
    width: 100%;
  }
  .google-map iframe {
    width: 100%;
  }
  .contact input, .contact textarea {
    width: 100%;
  }
  .button_text {
    font-size: 30px;
  }
  .sakuhin {
    font-size: 20px;
  }
  .nikoniko {
    margin-left: 50px !important;
  }
  .noronoroman {
    margin-left: 18px !important;
  }
  .noronoromanmini {
    margin-left: 70px !important;
  }
  .dekagarasu {
    margin-left: 10px !important;
  }
  .wani {
    margin-left: 5px !important;
  }
  .katatumuri {
    margin-left: 10px !important;
  }
  .kujira {
    margin-left: 30px !important;
  }
  .cat {
    margin-left: 15px !important;
  }
  .card_surface, .card_reverse {
    margin-left: -5px !important;
  }
}
