body {
  background-color: #fae231;
}
.header_sakuhin {
  background-color: #fae231;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}
.main {
  margin: 0;
}
.main a {
  color: black;
  background: white;
  text-decoration: none;
  font-size: 30px;
}
h2 {
  font-family: monospace;
}
