body {
  background-color: #fae231;
}
.header_sakuhin {
  background-color: #fae231;
  height: 56px;
  width: 100%;
  position: fixed;
  top: 0;
}
.main {
  margin: 0;
}
.button_text {
  color: black;
  background: white;
}
